/* GENERAL STYLING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fullwidth {
    min-height: 100vh; /* problemi di sforamento verticale del div, cambiato 'height' in 'min-height' */
    background-image: url('https://www.armytimes.com/resizer/1cfT-8FQE9r80arFAZC2eRfsFaw=/1200x0/filters:quality(100)/arc-anglerfish-arc2-prod-mco.s3.amazonaws.com/public/QCE3EYTTHBGZTHGT4DXIVGLYRY.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    width: 70%;
    margin: auto;
    /* DA CANCELLARE */
    /* height: 500px; */
}

.data-entry, .data-output {
    padding: 15px;
}

/* TYPOGRAPHY AND BUTTONS*/
h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    width: 60%;
    margin: 30px auto;
    color: #30a0ce;
    background-color: #f5f5f5bb;
}

h3, h4 {
    font-size: 20px;
}

h3 {
    text-transform: uppercase;
}

h4 {
    text-align: center;
}

.user-details div:first-of-type h4{
    text-transform: uppercase;
}

.form-boxes label {
    padding: 10px;
    font-size: 22.5px;
}

button {
    background-color: #b91450;
    color: white;
    margin: 0 30px;
    padding: 10px 15px;
    font-size: 22.5px;
    border-radius: 5px;
    border: 1px solid #b91450;
}

button:hover {
    background-color: white;
    color: #b91450;
    box-shadow: 3px 3px 3px #b91450;
}

button:active {
    transform: scale(0.97);
    border: 1px solid #b91450;
    box-shadow: 1px 1px 1px #b91450;
}

/* FORM */
.form {
    background-color: #f5f5f5bb;
    border-radius: 20px;
}

.form-boxes, .form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}

input, select {
    font-size: 15px;
}

input[type="number"] {
    width: 75px;
}

select option:first-of-type {
    display: none;
}

/* TICKET */
.user-ticket {
    padding: 20px;
    background-color: #f5f5f5bb;
}

.user-details {
    display: flex;
    padding: 10px 0;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.user-name, .user-offer, .user-carriage, .user-code, .ticket-price {
    flex: 0 1 calc(100%/5);
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.user-name {
    background-color: #808080;
}

.user-details p {
    font-size: 22.5px;
}

/* HIDDEN/SHOW */
.hidden {
    opacity: 0;
    transition: 0.25s;
}

.show {
    opacity: 1;
    transition: 0.25s;
}
